<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45819150913-n9o5d4cl7ajgqaamo2lfn9hkvknthi05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45819150913-n9o5d4cl7ajgqaamo2lfn9hkvknthi05</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>45819150913-hr2652dev3259jbpoifkr4ihkd9he6jj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ4oUBZLff0QUnLPBlXL8-2DVnZzgIz8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>45819150913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app1</string>
	<key>PROJECT_ID</key>
	<string>smartvisioned</string>
	<key>STORAGE_BUCKET</key>
	<string>smartvisioned.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45819150913:ios:9904094af68cbfb8a43cc0</string>
</dict>
</plist>